.menu-btn{
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    width: 28px;
    height: 20px;
    // background-color: violet;
    cursor: pointer;
    @include transition-ease;

    #{&}-link{
        position: absolute;
        top: 0.5rem;
        width: 28px;
        height: 3px;
        background: set-text-color($primary-color);
        @include transition-ease;


        &::before{
            content: '';
            position: absolute;
            top: -0.5rem;
            width: 28px;
            height: 3px;
            background: set-text-color($primary-color);
            @include transition-ease;

        }
        &::after{
            content: '';
            position: absolute;
            top: 0.5rem;
            width: 20px;
            height: 3px;
            background: set-text-color($primary-color);
            @include transition-ease;

        }
        &.open{
            transform: rotate(720deg);
            background-color: transparent;
            &::before{
                // content: '';
                transform: rotate(45deg) translate(5px, 8px);
    
            }
            &::after{
                // content: '';
                transform: rotate(-45deg) translate(3px, -7px);
                width: 28px;

            }
        }

    }

}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.98;
    visibility: hidden;
    // z-index: 0;
    &.open{
        visibility: visible;
    }

    .nav-menu{

        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        // width: 100%;
        height: 100vh;
        background-color: $primary-color;
        list-style: none;
        overflow: hidden;
        transform: translateY(-100%);
        @include transition-ease;

        &.open{
            transform: translateY(0%);
        }

        .nav-menu-item{
            transform: translateX(100vw);
            @include transition-ease;


            &.open{
                transform: translateX(0);
            }
            &.active a{
                color: $secondary-color;
            }

        .nav-menu-link{
            display: inline-block;
            text-transform: capitalize;
            font-size: 2rem;
            font-weight: 300;
            padding: 1rem 0;
            @include transition-ease;

            
            &:hover{
                color: $secondary-color;
                
            }
        }

        }


    }

}
@for $i from 1 through 4 {
  .menu-nav__item:nth-child(#{$i}) {
    transition-delay: ($i * 0.1s) + 0.15s;
  }
}